<html lang="en-US">
  <head>
    <title>WAVESHARE ROBOT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="./jquery-3.7.1.min.js"></script>
    <script src="./js-yaml.min.js"></script>
    <script src="./socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <style type="text/css">
    </style>
  </head>
<body>
    <main>
        <div class="box1">
            <section class="section_video box_outline">
                <div>
                    <div class="video_feed">
                        <div>
                            <div class="feed_section feed_top" id="video_feed_frame">
                                <div>
                                    <div class="feed feed_l_t">
                                        <div id="DT" class="feed_ico feed_ico_none"></div>
                                        <div class="feed_ico feed_ico_arrow"></div>
                                        <div id="DR" class="feed_ico feed_ico_none"></div>
                                    </div>
                                    <div class="feed feed_u">
                                        <div>
                                            <p><span>CPU: </span><span id="CPU">0</span></p>
                                            <p><span>RAM: </span><span id="RAM">0</span></p>
                                        </div>
                                    </div>
                                    <div class="feed feed_r_t">
                                        <div>
                                            <div class="feed_ico_baterry"><span id="b_state" class="baterry_state baterry_state1"></span><span id="v_in">12</span><span> V</span></div>
                                            <div class="feed_ico_light"><span class="light_state"></span><span id="MODE">AUTO</span></div>
                                            <p><span>RSSI: </span><span id="rssi">0</span></p>
                                            <p><span>FPS: </span><span id="fps">0</span></p>
                                            <p><span>TEMP: </span><span id="tem">0</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feed_section feed_middle">
                                <div>
                                    <div class="feed feed_l">
                                        <div class="tilt">
                                            <div id="tilt_scale_pointer" class="tilt_pointer_out">
                                                <div class="tilt_pointer"></div>
                                                <p id="Tilt">0</p>
                                            </div>
                                            <div id="tilt_scale" class="tilt_scale"><div id="tilt_scalediv"></div></div>
                                        </div>
                                    </div>
                                    <div class="feed feed_m"><div class="feed_img_focus"></div></div>
                                    <div class="feed feed_r"></div>
                                </div>
                            </div>
                            <div class="feed_section feed_bottom">
                                <div>
                                    <div class="feed feed_l_b">
                                        <p><span>Zoom: </span><span id="zoom-num">1x</span></p>
                                        <p><span>Photos: </span><span id="photos-size">0</span></p>
                                        <p><span>Videos: </span><span id="videos-size">0</span></p>
                                    </div>
                                    <div class="feed feed_b">
                                        <div class="pan">
                                            <div><p id="Pan">0</p></div>
                                            <div class="pan_scale_box">
                                                <div class="pan_pointer"></div>
                                                <div id="pan_scale" class="pan_scale"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed feed_r_b">
                                        <div class="ctrl_base_box">
                                            <div class="ctrl_base ctrl_base_s" id="ctrl_base">
                                                <div class="ctrl_stick ctrl_stick_s" id="ctrl_stick"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video"><img src="{{ url_for('video_feed') }}" /></div>
                </div>
                <div class="video_ctrl">
                    <div>
                        <div class="record"><div><button id="record-btn" class="normal_btn video_btn_record btn_ico">Record</button></div></div>
                        <div class="capture"><div><button class="normal_btn video_btn_capture" onclick="cmdSend(pic_cap,0,0);"></button></div></div>
                        <div class="views">
                            <div><button class="normal_btn normal_btn_size video_btn_zoom btn_ico" id="zoom_btn"></button></div>
                            <div class="video_btn_px_select">
                                <button id="video_pixel_btn" class="normal_btn normal_btn_size video_btn_px">480P</button>
                                <ul id="video_pixel_btn_list">
                                    <li class="normal_btn" onclick="cmdSend(max_res,2,0);">960P</li>
                                    <li class="normal_btn" onclick="cmdSend(mid_res,1,0);">480P</li>
                                    <li class="normal_btn" onclick="cmdSend(min_res,0,0);">240P</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section_feed_ctrl box_outline">
                <div>
                    <div class="controller">
                        <div class="ctl9_middle">
                            <div class="ctl9_middle_pos">
                                <div class="ctl9_middle_pos ctl9_middle_light">
                                    <div class="ctl9_middle_pos">
                                        <div onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':2,'Y':2,'SPD':35});" 
                                             ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':2,'Y':2,'SPD':35});">AHEAD</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ctl9 ctl9_base">
                            <ul>
                                <li class="ctl9_base_btn" 
                                onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':-1,'Y':1,'SPD':35});" 
                                ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':-1,'Y':1,'SPD':35});" 
                                onmouseup="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});" 
                                ontouchend="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});"></li>

                                <li class="ctl9_base_btn2" 
                                onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':1,'SPD':35});" 
                                ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':1,'SPD':35});" 
                                onmouseup="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});" 
                                ontouchend="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});"></li>

                                <li class="ctl9_base_btn" 
                                onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':1,'Y':1,'SPD':35});" 
                                ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':1,'Y':1,'SPD':35});" 
                                onmouseup="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});" 
                                ontouchend="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});"></li>
                                
                                <li class="ctl9_base_btn4" 
                                onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':-1,'Y':0,'SPD':35});" 
                                ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':-1,'Y':0,'SPD':35});" 
                                onmouseup="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});" 
                                ontouchend="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});"></li>
                                
                                <li class="ctl9_base_btn"></li>
                                
                                <li class="ctl9_base_btn6" 
                                onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':1,'Y':0,'SPD':35});" 
                                ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':1,'Y':0,'SPD':35});" 
                                onmouseup="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});" 
                                ontouchend="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});"></li>
                                
                                <li class="ctl9_base_btn" 
                                onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':-1,'Y':-1,'SPD':35});" 
                                ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':-1,'Y':-1,'SPD':35});" 
                                onmouseup="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});" 
                                ontouchend="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});"></li>
                                
                                <li class="ctl9_base_btn8" 
                                onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':-1,'SPD':35});" 
                                ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':-1,'SPD':35});" 
                                onmouseup="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});" 
                                ontouchend="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});"></li>
                                
                                <li class="ctl9_base_btn" 
                                onmousedown="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':1,'Y':-1,'SPD':35});" 
                                ontouchstart="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':1,'Y':-1,'SPD':35});" 
                                onmouseup="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});" 
                                ontouchend="cmdJsonCmd({'T':cmd_gimbal_base_ctrl,'X':0,'Y':0,'SPD':35});"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="feed_ctrl_btn">
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Detection Type</h2>
                            <div id="d_type_btn">
                                <div><button onclick="cmdSend(cv_none,0,0);" class="ctl_btn ctl_btn_active">None</button></div>
                                <div><button onclick="cmdSend(cv_moti,1,0);" class="ctl_btn ctl_btn_mov btn_ico">Movtion</button></div>
                                <div><button onclick="cmdSend(cv_face,2,0);" class="ctl_btn ctl_btn_faces btn_ico">Faces</button></div>
                            </div>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Detection Reaction</h2>
                            <div id="d_reaction_btn">
                                <div><button onclick="cmdSend(re_none,0,0);" class="ctl_btn ctl_btn_active">None</button></div>
                                <div><button onclick="cmdSend(re_capt,0,0);" class="ctl_btn ctl_btn_caputure btn_ico">Capture</button></div>
                                <div><button onclick="cmdSend(re_reco,0,0);" class="ctl_btn ctl_btn_record btn_ico">Record</button></div>
                            </div>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Head Light Ctrl</h2>
                            <div id="light_ctrl_btn">
                                <div><button onclick="cmdSend(led_off,0,0);" class="ctl_btn ctl_btn_active">OFF</button></div>
                                <div><button onclick="cmdSend(led_aut,0,0);" class="ctl_btn">AUTO</button></div>
                                <div><button onclick="cmdSend(led_ton,0,0);" class="ctl_btn">ON</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="box2">
            <section>
                <div class="photo_gallery">
                    <h2 class="sc_title normal_sc_title">Photo Gallery</h2>
                    <ul id="photo-list">
                    </ul>
                    <div class="long_btn new_page">
                        <a href="./photo.html"><span>View Photo Gallery Page</span>&nbsp;(<span id="number-photos">0</span>)&nbsp;<span>&gt;</span></a>
                    </div>
                </div>
            </section>
            <section>
                <div class="video_files">
                    <h2 class="sc_title normal_sc_title">Video Files</h2>
                    <ul class="video-list" id="video-list">
                    </ul>
                    <div class="long_btn new_page">
                        <a href="./video.html"><span>View Video Files Page</span>&nbsp;(<span id="number-videos">0</span>)&nbsp;<span>&gt;</span></a>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h2 id="test" class="sc_title normal_sc_title">Bus Servos Initialization Setup</h2>
                    <div class="long_btn new_page ">
                        <a class="btn_ico ico_setting" href="./settings.html"><span>Setting Page</span>&nbsp;<span>&gt;</span></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <div id="video-del-tips" class="video-del-tips"><p>Successfully deleted video</p></div>
    <footer style="visibility: hidden;">
        <div style="background-image: url('./img/white/record.svg');"></div>
        <div style="background-image: url('./img/white/capture.svg');"></div>
        <div style="background-image: url('./img/white/zoom.svg');"></div>
        <div style="background-image: url('./img/white/ctrl_arrow.svg');"></div>
        <div style="background-image: url('./img/white/faces.svg');"></div>
        <div style="background-image: url('./img/white/movtion.svg');"></div>
        <div style="background-image: url('./img/white/none.svg');"></div>
        <div style="background-image: url('./img/white/delete.svg');"></div>
        <div style="background-image: url('./img/grey/record.svg');"></div>
        <div style="background-image: url('./img/grey/capture.svg');"></div>
        <div style="background-image: url('./img/grey/zoom.svg');"></div>
        <div style="background-image: url('./img/grey/ctrl_arrow.svg');"></div>
        <div style="background-image: url('./img/grey/faces.svg');"></div>
        <div style="background-image: url('./img/grey/movtion.svg');"></div>
        <div style="background-image: url('./img/grey/delete.svg');"></div>
    </footer>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
    <script src="./contrl.js"></script>
    <script>

    </script>
</body>
</html>
