furyhawk.synology.me

# Templates give static sites some dynamic features
templates

# Compress responses according to Accept-Encoding headers
encode gzip zstd

root * /srv
file_server

reverse_proxy /bai localhost:8501